body{
   text-align: center;
   margin: 0px;
   padding: 0px;
   font-family: 'Times New Roman', Times, serif;
}

#heading{
   background-color: rgba(16, 16, 46, 0.925);
   color: white;
   margin: 0px;
   margin-bottom: 50px;
   padding: 15px;
}

ul{
   padding: 0px;
   margin-bottom: 50px;
}
li{
  list-style-type: none;
  display: inline-block;
}
img{
   border: 2px solid black;
   /* border-radius: 50% ; */
   height: 110px;
   
}

#msgBoxText{
   background-color: rgb(9, 28, 68);
   color: white;
   display: inline;
   font-size: 21.5px;
   font-weight: bold;
   padding: 9px 15px;
   border-radius: 12px;
   
}

.score{
   margin: 5px 10px;
   font-size: 25px;
   
}

.countt{
  font-size: 35px;
  font-weight: bold;
}

#msgBoxDraw{
  background-color: rgb(16, 46, 110);
   color: white;
   display: inline;
   font-size: 21.5px;
   font-weight: bold;
   padding: 9px 15px;
   border-radius: 12px;
}

#msgBoxLost{
  background-color: rgb(189, 19, 7);
   color: white;
   display: inline;
   font-size: 21.5px;
   font-weight: bold;
   padding: 9px 15px;
   border-radius: 12px;
}

#msgBoxWin{
  background-color: rgb(16, 165, 41);
   color: white;
   display: inline;
   font-size: 21.5px;
   font-weight: bold;
   padding: 9px 15px;
   border-radius: 12px;
}